{{> header}}
{{> menu}}

<h1>Pàgina principal</h1>

<h2>Movies</h2>
<ul>
  {{#each movies}}
    <li>{{title}} ({{release_year}})</li>
  {{/each}}
</ul>

<h2>Categories</h2>
<ul>
  {{#each categories}}
    <li>{{name}}</li>
  {{/each}}
</ul>

{{> footer}}
